@use 'src/styles/variables.scss' as var;

.search-product {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var.$secondaryColor;

    &-sorting {
        text-align: center;

        &-range {
            margin-bottom: 10px;
        }

        &-brand {
            margin-bottom: 10px;
        }

        &-active {
            display: flex;
            margin: 10px 0;
            font-size: 1.1rem;
            font-weight: 700;

            & input {
                margin: 0 30px 0 5px;
            }
        }

        & select {
            width: 300px;
        }
    }

    &-form {
        margin: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        & .input-radio {
            margin: 5px 0 15px;
        }

        & .input-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;

            &-text {
                width: 90%;
                margin-bottom: 40px;
            }

            & input:checked {
                color: var.$primaryColor;
            }

            & input[type="radio"] {
                margin-right: 10px;

            }

            & input[type="text"] {
                border: 3px solid var.$secondaryColor;
                border-radius: 10px;
                padding: 5px;
                font-size: 1rem;
                width: 100%;
                color: var.$secondaryColor;
            }
        }
    }

    &-results {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        list-style: none;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            & h4 {
                font-size: 1.5rem;
            }
        }
    }

    &-result {
        position: relative;
    }


}