@use 'src/styles/variables.scss' as var;

.quote-history {
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    & h2 {
        text-align: center;
        margin: 15px 0;
        color: var.$secondaryColor;
    }

    &-product-list {
        flex-grow: 1;
    }

    .quote-item {
        display: flex;
        flex-direction: column;
        background-color: var.$secondaryColorTransparent;
        border: 1px solid var.$primaryColorLight;
        border-radius: 5px;
        padding: 20px;
        color: whitesmoke;
        width: 90%;
        margin: 0 auto 20px;
        list-style: none;
        width: 300px;
        height: 500px;

        & h3 {
            text-align: center;
            margin-bottom: 30px;
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

        }

        & li {
            display: flex;

            & p:last-child {
                margin-left: 5px;
            }
        }

        &-btn {
            margin-top: 20px;
            background-color: var.$primaryColor;
            align-self: center;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
        }
    }

    & .more-product {
        margin-top: -30px;
    }



}

@media (min-width: 800px) {
    .quote-history {
        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            & .quote-item {
                width: 400px;

                & p {
                    margin: 5px 0;
                }
            }
        }
    }
}