@use 'src/styles/variables.scss' as var;

.quote-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: -40px;
    min-height: 600px;
    padding-bottom: 40px;
    margin-left: 300px;
    background: url("/public/images/boulangegrand.jpg") center/cover fixed no-repeat;

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    &-title {
        background-color: rgba(245, 245, 245, 0.9);
        color: var.$secondaryColor;
        margin: 20px;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    &-product-list {
        flex-grow: 1;
    }

    &-empty {
        border-radius: 5px;
        width: 300px;
        background-color: rgba(245, 245, 245, 0.9);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;

        & p {
            width: 100%;
        }

        & a {
            font-weight: 700;
            margin-top: 20px;
            background-color: var.$primaryColor;
            align-self: center;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .quote-item {
        display: flex;
        flex-direction: column;
        background-color: rgba(245, 245, 245, 0.88);
        box-shadow: 2px 2px 2px #505050;
        border-radius: 5px;
        padding: 20px;
        color: var.$secondaryColorTransparent;
        width: 90%;
        list-style: none;
        width: 300px;
        height: 500px;
        font-weight: 700;

        & h3 {
            text-align: center;
            margin-bottom: 30px;
            color: var.$secondaryColor;
        }

        & ul {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

        }

        & li {
            display: flex;

            & p:last-child {
                margin-left: 5px;
            }
        }

        &-btn {
            margin-top: 20px;
            background-color: var.$primaryColor;
            align-self: center;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
        }
    }

    & .more-product {
        margin-top: -30px;
    }



}

@media (min-width: 800px) {
    .quote-history {
        &-title {
            width: 400px;
        }

        &-empty {
            width: 400px;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            & .quote-item {
                width: 400px;

                & p {
                    margin: 5px 0;
                }
            }
        }
    }
}

@media (max-width:600px) {
    .quote-history {
        margin-left: 0;

        & .dashboard-component {
            display: none;
        }
    }
}