@use 'src/styles/variables.scss' as var;

.user-informations {
    color: var.$primaryColorLight;
    border-radius: 10px;
    padding: 40px 10px;
    background-color: var.$secondaryColor;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;

    &-container {
        color: var.$primaryColorLight;
        border-radius: 10px;
        padding: 40px 10px;
        background-color: var.$secondaryColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        border: 1px solid var.$primaryColorLight;
        overflow: scroll;
    }

    & h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    & ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & li {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: var.$secondaryColor;
        gap: 15px;
        // border: 1px solid var.$primaryColorLight;
        background-color: lightgrey;
        border-radius: 5px;
        margin: 15px 0;

        & label,
        p {
            width: 100px;
            text-align: center;
        }

        & input {
            width: 170px;
            background-color: whitesmoke;
        }
    }

    &-button {
        border: none;
        width: 200px;
        margin-top: 16px;
        height: 50px;
        border-radius: 5px;
        background-color: var.$primaryColor;
        color: var.$secondaryColor;
        font-weight: 700;
        font-size: 1.1rem;
    }

    &-address {
        color: var.$primaryColorLight;
        border-radius: 10px;
        padding: 40px 10px;
        background-color: var.$secondaryColor;
        border: 1px solid var.$primaryColorLight;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 90%;

        & .user-informations-item p {
            width: 90%;
        }

    }
}

@media (min-width: 768px) {
    .user-informations {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &-container {
            width: 30%;
            height: 700px;
            min-width: 290px;
        }

        &-address {
            min-width: 290px;
            width: 30%;
            height: 700px;
        }

        &-item {
            flex-direction: row;
            gap: 0;
        }
    }

}