@use 'src/styles/variables.scss' as var;

.dashboard {
    display: flex;
    margin-left: 350px;
    margin-bottom: -40px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 60px;
    flex-grow: 1;

    &-section {
        cursor: pointer;
        width: 300px;
        height: 280px;
        border-radius: 50px;
        background-color: var.$primaryColor;
        box-shadow: 3px 3px 5px #868686,
            -3px -3px 5px #e6e6e6;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;

        &-title {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;

            & h2 {
                color: whitesmoke;
            }

            & svg {
                width: 30px;
                color: whitesmoke;
            }
        }

        & p {
            margin-left: 20px;
            color: var.$secondaryColor;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            box-shadow: none;
            background-color: var.$primaryColorLight;

            & p {
                color: var.$secondaryColorLight;
            }
        }

        &-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            align-items: center;
            justify-content: center;
        }

        &-quotation {
            font-weight: 400 !important;
        }
    }


}