@use 'src/styles/variables.scss' as var;

.range {
    padding: 16px;

    & h1,
    h2 {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 16px;
        color: var.$secondaryColor;
    }

    &-return-products {
        border: none;
        background-color: var.$secondaryColorLight;
        position: fixed;
        top: 210px;
        left: 5px;
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        color: var.$primaryColorLight;
        transition: all 0.2s ease-in-out;
        box-shadow: 5px 5px 10px #b2b2b2,
            -5px -5px 10px #ffffff;

        & p {
            display: none;
        }

        & svg {
            width: 20px;
            height: 20px;
        }


        &:hover {
            box-shadow: none;
            background-color: var.$secondaryColor;
            color: var.$primaryColor;
        }
    }

    &-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 16px;
        border: 2px solid var.$secondaryColor;
        padding: 2px;
        border-radius: 8px;
    }

    &-description {
        margin-bottom: 16px;
        background-color: var.$primaryColor;
        color: var.$secondaryColor;
        border: 2px solid var.$primaryColor;
        font-size: 1.1rem;
        border-radius: 8px;
        padding: 16px;
        text-align: justify;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            font-weight: 700;
            color: var.$secondaryColor;
            font-size: 1rem;
            margin: 0 15px;
            position: relative;

        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 40%;
            height: 60px;
            border: none;
            font-size: 0.8rem;
            width: 50%;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background: var.$secondaryColor;
            color: whitesmoke;
            cursor: pointer;
            padding: 10px;
            letter-spacing: 0.2px;
            border-radius: 5px;
            -webkit-box-shadow: 17px 17px 34px #8c8c8c, -17px -17px 34px #ffffff;
            box-shadow: 17px 17px 34px #8c8c8c, -17px -17px 34px #ffffff;

            &:hover {
                letter-spacing: 0;
                -webkit-box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
                box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
                -webkit-transform: translate(3px, 3px);
                transform: translate(3px, 3px);

            }
        }
    }

    &-sheet {

        &-legende {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 30px;
                margin-right: 10px;
            }
        }

        &-container {

            &-item {
                list-style: none;
                margin: 5px 0;
                padding: 5px;

                &-link {
                    position: relative;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    border: 1px solid var.$secondaryColor;
                    gap: 5px;
                    padding: 5px;


                    &-pdf {
                        width: 30px;
                        margin: 10px;
                    }

                    &-text {
                        font-weight: 700;
                        width: 75%;
                    }

                    &-text p:nth-child(2) {
                        font-weight: 400;
                        line-height: 16px;
                        font-size: 0.8rem;
                        width: 80%;
                    }

                    &-img {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        width: 25px;
                    }

                }
            }
        }
    }
}

@media (min-width:550px) {
    .range {
        &-img {
            width: 100%;
            padding: 10px 0;
            height: 300px;
            object-fit: contain;
        }

        &-sheet {
            background-color: whitesmoke;
            padding: 20px 0;
            border-radius: 10px;

            &-container {
                width: 500px;
                margin: auto;

                &-item {
                    &-link {
                        height: 100px;

                        &-text {
                            width: 100%;
                        }

                        &-text p:nth-child(2) {
                            font-size: 1rem;
                            line-height: normal;
                        }

                        &-img {
                            right: 10px;
                            top: 10px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:900px) {
    .range {
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        &-img {
            background-color: var.$secondaryColor;
        }
    }
}

@media (min-width:1080px) {
    .range-return-products {
        border: none;
        background-color: var.$secondaryColorLight;
        position: fixed;
        top: 200px;
        left: 20px;
        height: 100px;
        width: 120px;
        padding: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        color: var.$primaryColorLight;
        transition: all 0.2s ease-in-out;
        box-shadow: 5px 5px 10px #b2b2b2,
            -5px -5px 10px #ffffff;

        & svg {
            display: none;
        }

        & p {
            display: block;

        }

        &:hover {
            box-shadow: none;
            background-color: var.$secondaryColor;
            color: var.$primaryColor;
        }
    }
}