@use 'src/styles/variables.scss' as var;

.range {
    padding: 16px;

    & h2,
    h3 {
        text-align: center;
        margin-bottom: 16px;
    }

    &-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 16px;
        border: 2px solid var.$secondaryColor;
        padding: 2px;
        border-radius: 8px;
    }

    &-description {
        margin-bottom: 16px;
        background-color: var.$primaryColor;
        color: var.$secondaryColor;
        border: 2px solid var.$primaryColor;
        font-size: 1.1rem;
        border-radius: 8px;
        padding: 16px;
        text-align: justify;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            font-weight: 700;
            color: var.$secondaryColor;
            font-size: 1rem;
            margin: 0 15px;
            position: relative;

        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 40%;
            height: 60px;
            border: none;
            font-size: 0.8rem;
            width: 50%;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background: var.$secondaryColor;
            color: whitesmoke;
            cursor: pointer;
            padding: 10px;
            letter-spacing: 0.2px;
            border-radius: 5px;
            -webkit-box-shadow: 17px 17px 34px #8c8c8c, -17px -17px 34px #ffffff;
            box-shadow: 17px 17px 34px #8c8c8c, -17px -17px 34px #ffffff;

            &:hover {
                letter-spacing: 0;
                -webkit-box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
                box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
                -webkit-transform: translate(3px, 3px);
                transform: translate(3px, 3px);

            }
        }
    }

    &-sheet {
        &-legende {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 30px;
                margin-right: 10px;
            }
        }

        &-container {
            &-item {
                list-style: none;
                margin: 5px 0;
                padding: 5px;

                &-link {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    border: 1px solid var.$secondaryColor;
                    gap: 5px;
                    height: 80px;

                    & img {
                        width: 30px;
                        margin: 10px;
                    }

                    &-text {
                        font-weight: 700;
                        width: 80%;
                    }

                    &-text p:nth-child(2) {
                        font-weight: 400;
                    }

                    &-img {
                        position: absolute;
                        right: 50px;
                    }

                }
            }
        }
    }
}

@media (min-width:550px) {
    .range {
        &-img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }
}