@use 'src/styles/variables.scss' as var;

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & th,
    td {
        padding: 10px;
        text-align: center;
    }

    & .export-excel-button {
        background-color: var.$primaryColor;
        color: var.$secondaryColor;
        padding: 20px;
        margin: 50px;
        border-radius: 7px;
        font-size: 1.8rem;
        font-weight: 700;
        box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var.$secondaryColor;
            color: var.$primaryColor;
        }
    }

    &-sort {
        display: flex;
        flex-direction: row;
        gap: 20px;


        & label {
            box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
            border: 3px solid var.$primaryColor;
            color: var.$secondaryColor;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border-radius: 7px;
            padding: 20px;
            width: 350px;
            height: 150px;
            background-color: none;
        }

        & input {
            display: none;

            &:checked+label {
                background-color: var.$primaryColor;
                border: 3px solid var.$secondaryColor;
                box-shadow: none;
            }
        }
    }
}