@use 'src/styles/variables.scss' as var;

.contact {
    background: url(/images/contact.jpg) right/cover no-repeat;
    flex-grow: 1;
    min-height: 600px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
        text-align: center;
        margin: 32px auto 0;
        border-radius: 10px 10px 0 0;
        padding: 25px;
        width: 80%;
        color: var.$secondaryColor;
        background-color: var.$primaryColorTransparent;
    }

    &-container {
        color: var.$primaryColor;
        background-color: var.$secondaryColorTransparent;
        width: 80%;
        border-radius: 0 0 10px 10px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-item {
        margin-bottom: 16px;

        & a {
            display: flex;
            justify-content: center;
        }

        & svg {
            height: 18px;
            margin-right: 5px;
        }
    }
}

@media (min-width:1100px) {
    .contact {
        min-height: 700px;

        & h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1000px;
            height: 180px;
            font-size: 2rem;
        }

        &-container {
            height: 350px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 50px;
            width: 1000px;

            & .contact-item {
                font-size: 1.2rem;

                &-phone {
                    & h3:nth-child(3) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}