@use 'src/styles/variables.scss' as var;

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: url('/images/bgg.jpg') center/cover fixed no-repeat;
    margin-bottom: -60px;
    padding-bottom: 60px;

    &-button-container {
        max-width: 910px;
        margin: 30px auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 5px 1px var.$secondaryColor;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 60vw;
        align-items: end;
        background: url(/images/boulanger.jpg) center/cover no-repeat;
    }


    &-button {
        display: flex;
        justify-content: end;
        align-items: center;
        border: none;
        font-size: 1rem;
        width: 60%;
        padding-right: 16px;
        height: 25%;
        background-color: rgba(255, 255, 255, 0.8);
        color: var.$secondaryColor;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease-in-out;


        &-one {
            -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 15% 100%);
            clip-path: polygon(20% 0, 100% 0%, 100% 100%, 15% 100%);
        }

        &-two {
            -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(15 0, 100% 0%, 100% 100%, 10% 100%);
        }

        &-three {
            -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 5% 100%);
        }

        &-four {
            -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
        }

        &:hover {
            background-color: var.$secondaryColorTransparent;
            clip-path: none;
            color: var.$primaryColor;
            width: 100%;
            letter-spacing: 1px;
            font-size: larger;
        }
    }


    &-products-container {
        box-shadow: 0px 0px 5px 1px var.$secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        background-color: rgba(245, 245, 245, 0.97);
        width: 90%;
        border-radius: 8px;
        padding: 16px;
        margin: 0 auto;

    }

    &-description-container {
        border-radius: 8px;
        background-color: rgba(245, 245, 245, 0.97);
        box-shadow: 0px 0px 5px 1px var.$secondaryColor;
        width: 90%;
        margin: 30px auto;
        padding: 1rem;
        text-align: center;
        color: var.$secondaryColor;

        & h2 {
            margin: 32px 0;
        }
    }

    &-service {
        display: flex;
        border: #8bb817 1px solid;
        border-radius: 5px;
        gap: 0.2rem;
        margin: 1rem 1rem;
        padding: 1rem;
        background: linear-gradient(145deg, var.$secondaryColor 70%, var.$primaryColor);
        color: white;
        box-shadow: 9px 9px 5px #7d7d7d;

        & svg {
            width: 50px;
            height: 50px;
        }

        & p {
            width: 80%;
            margin: auto;
            font-size: 0.8rem;
        }
    }
}

@media (min-width:360px) {
    .hero {
        &-button {
            font-size: 1.1rem;
        }


    }
}

@media (min-width:500px) {
    .hero {
        &-header-btn {
            width: 150px;
            height: 80px;
            font-size: 1.2rem;

            & svg {
                height: 30px;
            }
        }

        &-button {
            font-size: 1.3rem;
        }

        &-service {
            width: 80%;
            margin: 2rem auto;

            & p {
                font-size: 1.1rem;
            }
        }

        &-products-container {
            height: 300px;
        }

    }

    .hero .swiper {
        width: 350px;
    }
}


@media (min-width:1050px) {
    .hero {
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 50px 30px 100px;

        &-button-container {
            width: calc(50% - 15px);
            height: 300px;
            margin: 0;
        }

        &-button {
            font-size: 1.3rem;

            &:hover {
                font-size: 1.5rem;
            }
        }

        &-products-container {
            height: 300px;
            width: calc(50% - 15px);
            margin: 0;


            & .swiper {
                &-slide {
                    width: 50px;
                }
            }
        }

        &-description-container {
            justify-self: center;
            width: 100%;
            margin: 0;
            // margin: 0 calc(100% - 1018px);
            padding: 50px;
        }
    }
}


@media (min-width:1200px) {
    .hero {
        padding: 80px 10%;

        & .swiper {
            width: 350px;
        }

        &-service {
            & p {
                font-size: 1.3rem;

            }
        }
    }
}

@media (min-width:1400px) {
    .hero {
        &-button-container {

            height: 400px;
        }

        &-products-container {
            height: 400px;
        }

        & .swiper {
            width: 400px;
        }
    }
}

@media (min-width:1800px) {
    .hero {
        // width: 1800px;
        padding-left: calc(calc(100vw - 1800px)/2);
        padding-right: calc(calc(100vw - 1800px)/2);
        margin-bottom: -60px;

        &-button {
            font-size: 2rem;

            &:hover {
                font-size: 2.2rem;
            }

            &-container {
                height: 450px;

            }
        }

        &-products-container {
            height: 450px;

            & .swiper {
                & p {
                    font-size: 2rem;
                }
            }
        }

        &-description-container {
            margin-top: 20px;
            font-size: 1.5rem;

        }

        &-service {
            & p {
                font-size: 1.5rem;
            }
        }
    }

}

@media (min-width:2100px) {
    .hero {
        padding-left: 150px;
        padding-right: 150px;
    }
}