@use 'src/styles/variables.scss' as var;

.signin {
    color: var.$secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/boulangegrand-inverse.jpg) no-repeat center center/cover;
    margin-bottom: -40px;
    min-height: calc(100vh - 320px);
    padding-bottom: 40px;

    & h2 {
        width: 80%;
        font-size: 1rem;
        text-align: center;
        margin: auto;
        line-height: 25px;
        font-weight: 600;
        background-color: var.$secondaryColorTransparent;
        color: var.$primaryColor;
        padding: 16px;
        border-radius: 10px 10px 0 0;
    }

    &-form {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        height: 200px;


        &-input {
            background-color: rgba(255, 255, 255, 0.9);
            width: 90%;
            margin: 0.5rem 0;
            color: var.$secondaryColor;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            font-size: 1rem;
            outline: none;

            &::placeholder {
                color: var.$primaryColorTransparent;
                font-weight: 400;
            }

            &:focus {
                background-color: var.$primaryColorTransparent;
                border: 1px solid var.$secondaryColor;

                &::placeholder {
                    color: var.$secondaryColorTransparent;
                }
            }
        }

        &-button {
            background-color: var.$primaryColorTransparent;
            color: var.$secondaryColor;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 0.6rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var.$secondaryColorTransparent;
                color: var.$primaryColor;
            }
        }
    }
}

@media (min-width: 500px) {
    .signin-container {
        width: 400px;
        margin: auto;
    }
}