@use 'src/styles/variables.scss' as var;

.quote {
    background: url("/public/images/boulangegrand.jpg") center/cover fixed no-repeat;
    margin-bottom: -90px;
    padding-bottom: 40px;
    flex-grow: 1;
    display: flex;

    &-title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        background-color: var.$secondaryColorTransparent;
        padding: 20px;

        & h1,
        h2,
        h3 {
            order: 2;
            color: whitesmoke
        }

        & h3 {
            border-radius: 10px;
            padding: 5px;
            width: 70%;
        }

        & .ordered {
            background-color: var.$primaryColor;
        }

        & .not-ordered {
            background-color: rgb(255, 66, 66);
        }

        & a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 60px;
            font-size: 0.8rem;

            & svg {
                position: absolute;
                right: 7px;
                bottom: 2px;
                width: 25px;
                transform: rotate(180deg);
            }

            &:hover {
                box-shadow: none;
            }
        }
    }

    &-viewer {
        padding: 16px 16px 50px;
        width: 60%;

    }

    &-info {
        width: 70%;
        background-color: rgba(245, 245, 245, 0.9);
        display: flex;
        justify-content: space-evenly;
    }

    &-btn {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border: none;
        width: 200px;
        height: 60px;
        border-radius: 5px;
        background-color: var.$primaryColor;
        color: var.$secondaryColor;
        transition: all 0.2s ease-in-out;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 16px;
        margin: 10px;

        &:hover {
            letter-spacing: 0;
            box-shadow: 5px 5px 10px #c9c9c9,
                -5px -5px 10px #ffffff;
            transform: translate(3px, 3px);
        }

        &-delete {
            &:hover {
                background-color: rgb(233, 24, 24);
                color: black;
            }
        }

        &-container {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }

    & svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &-search-product {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        overflow: auto;
        z-index: 1001;
        background-color: var.$primaryColor;
        padding-top: 50px;

    }

    &-btn-close {
        display: flex;
        align-items: center;
        justify-content: start;
        border: 1px solid whitesmoke;
        color: var.$primaryColor;
        border-radius: 10px;
        padding: 5px;
        position: fixed;
        z-index: 2;
        background-color: var.$secondaryColor;
        top: 10px;
        right: 3px;
        cursor: pointer;

        &-quantity {
            background-color: red;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: fixed;
            font-size: 0.7rem;
            right: 2px;
            top: 2px;
            z-index: 3000;
        }

        & svg {
            position: relative;
            width: 20px;
            height: 20px;
        }

        & p {
            display: none;
        }

        &:hover {

            & p {
                display: block;
                margin: 0 5px;
                text-align: center;
            }
        }
    }

    &-confirmation {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var.$secondaryColorTransparent;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-width: 310px;
            width: 50%;
            height: 40%;
            background-color: whitesmoke;
            position: relative;
            border-radius: 5px;

            & p {
                font-size: 1.1rem;
                margin-top: 30px;
                font-weight: 700;
                color: var.$secondaryColor;
            }

            & .quote-btn {
                &-cross {
                    position: absolute;
                    top: 0;
                    height: 50px;

                    &-delete {
                        display: flex;
                        flex-direction: row;

                        & .red:hover {
                            background-color: rgb(233, 24, 24);
                            color: black;
                        }
                    }

                }
            }
        }
    }

}

@media (min-width: 450px) and (max-width: 586px) {
    .quote-btn-close {
        right: 30px;
        top: 20px;

        &-quantity {
            right: 25px;
            top: 14px;
        }
    }
}

@media (min-width: 1250px) {
    .quote {
        &-btn-close {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            border: 1px solid whitesmoke;
            color: var.$primaryColor;
            border-radius: 10px;
            padding: 5px;
            position: fixed;
            z-index: 2;
            background-color: var.$secondaryColor;
            top: 10px;
            right: 35px;
            cursor: pointer;

            & p {
                width: 50px;
                text-align: center;
            }

            & span {
                right: 32px;
                top: 2px;
                width: 20px;
                height: 20px;
            }

            & svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width:700px) {
    .quote {
        flex-direction: column;

        &-title {
            width: 100%;
            align-items: center;

            & h1,
            h2 {
                font-size: 1.2rem;
            }
        }

        &-info {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &-viewer {
            padding-bottom: 0;
            width: 90%;
        }

        &-btn-container {
            margin-top: 5px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

@media (max-width: 500px) {
    .quote-title {
        align-items: start;
        justify-content: center;
        padding-left: 80px;

        & .quote-btn {
            width: 60px;
            height: 70px;
            padding: 3px;
            font-size: 0.7rem;

            & svg {
                display: none;
            }

        }
    }
}