@use 'src/styles/variables.scss' as var;

.privacy-policy {
    color: var.$secondaryColor;
    padding: 30px;
    text-align: justify;

    & h2 {
        text-align: center;
        margin: 70px 0 40px 0;
    }
}

@media (min-width: 600px) {
    .privacy-policy {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}