@use 'src/styles/variables.scss' as var;

.addresses {
    position: fixed;
    z-index: 999999;
    background-color: var.$secondaryColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;


    &-change {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: var.$primaryColorLight;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px !important;
            height: 30px !important;
            font-size: 2rem;
            cursor: pointer;
        }

        &-title {
            text-align: center;

        }

        & label {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        & select {
            font-size: 1.2rem;
        }
    }

    &-new {
        margin-top: 60px;
        width: 80%;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px 0;

            & label {
                width: 40%;
                font-size: 1.1rem;
            }

            & input,
            select {
                width: 60%;
                font-size: 1.1rem;
            }
        }
    }
}

#shipment {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 10px;
    padding-right: 20px;

    & option {
        font-size: 0.9rem;
        width: 100% !important;
    }
}