@use 'src/styles/variables.scss' as var;

.addresses {
    position: fixed;
    z-index: 999999;
    background-color: var.$secondaryColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &-btn-cross {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 50px;
    }

    &-button {
        background-color: var.$primaryColorLight;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        font-weight: 700;
        color: var.$secondaryColor;
    }

    &-change {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        color: var.$primaryColorLight;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px !important;
            height: 30px !important;
            font-size: 2rem;
            cursor: pointer;
        }

        &-title {
            text-align: center;

        }

        & label {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        & select {

            font-size: 1.2rem;
        }
    }

    &-new {
        border-radius: 10px;
        border: 2px solid var.$primaryColorLight;
        margin-top: 60px;
        padding: 20px;
        width: 98%;

        & option {
            color: var.$secondaryColor;
        }

        &-button {
            background-color: var.$primaryColorLight;
            padding: 10px;
            border-radius: 10px;
            margin-top: 20px;
            width: 100%;
            font-weight: 700;
            color: var.$secondaryColor;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            & label {
                font-size: 1.1rem;
                margin-bottom: 0;
            }

            & input,
            select,
            #country {
                width: 80%;
                margin-bottom: 20px;
                font-size: 1.1rem;
                height: 38px;
            }

            & .css-art2ul-ValueContainer2 {
                padding: 0;
                height: 38px;
            }
        }
    }
}


#country {
    color: var.$secondaryColor;

}

#shipment {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 10px;
    padding-right: 20px;

    & option {
        font-size: 0.9rem;
        width: 100% !important;
    }
}

@media (min-width:600px) {
    .addresses {
        &-button {
            width: 550px;
        }

        &-new {
            width: 550px;
        }
    }

    #shipment {

        width: 550px;
        font-size: 1.6rem;

        & option {
            font-size: 1.5rem;
        }

    }
}