@use 'src/styles/variables.scss' as var;

.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    overflow: hidden;
    z-index: 1000;

    &-logo {
        margin: 0.2rem;
        width: 80px;
        height: 100%;
    }

    &-links {
        list-style: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: -100vw;
        visibility: hidden;
        top: 0;
        bottom: 0;
        background-color: var.$secondaryColor;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }

    &-link {
        color: var.$primaryColor;
        display: block;
        padding: 1.5rem;
        font-size: 6vw;
    }

    &-burger {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;
        top: 1rem;
        right: 1rem;
        height: 30px;
    }
}

.navbar-item {
    transform: translateY(100vh);
}

.navbar-item::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background-color: var.$primaryColor;
}

.navbar-item:last-child::after {
    display: none;
}

.burger-line,
.burger-line::before,
.burger-line::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: var.$primaryColor;
    transition: all 0.5s ease-in-out;
}

.burger-line::before,
.burger-line::after {
    position: absolute;
    content: '';
    left: 0;
}

.burger-line::before {
    transform: translateY(-10px);
}


.burger-line::after {
    transform: translateY(10px);

}

.show-navbar {
    display: flex;
}

.show-navbar.navbar-links {

    right: 0;
    width: 100%;
    visibility: visible;

}


.show-navbar+.navbar-burger .burger-line {
    background-color: transparent;
}

.show-navbar+.navbar-burger .burger-line::before {
    transform: rotate(45deg);
}

.show-navbar+.navbar-burger .burger-line::after {
    transform: rotate(-45deg);
}

.show-navbar .navbar-item {
    transform: translateY(0);
}

.show-navbar .slideInDown1 {
    transition: all 0.6s ease-in-out;
}

.show-navbar .slideInDown2 {
    transition: all 0.65s ease-in-out;
}

.show-navbar .slideInDown3 {
    transition: all 0.7s ease-in-out;
}

.show-navbar .slideInDown4 {
    transition: all 0.75s ease-in-out;
}

.show-navbar .slideInDown5 {
    transition: all 0.8s ease-in-out;
}

.show-navbar .slideInDown6 {
    transition: all 0.85s ease-in-out;
}

.navbar-presentation {
    display: none;
}

@media (min-width:801px) {
    .navbar {
        align-items: center;

        &-logo {
            flex-grow: 1;
        }

        &-link {
            font-size: 3rem;
        }
    }

    .navbar-burger {
        // display: none;
        top: 0;
        order: 2;
    }

    .navbar-presentation {
        // display: inline;
        display: flex;
        color: var.$secondaryColor;
        font-size: 1.2rem;
        width: 420px;
        text-align: end;
        margin-right: 60px;

    }

}