@use 'src/styles/variables.scss' as var;

.password-input {
    position: relative;

    & svg {
        width: 25px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}