@use 'src/styles/variables.scss' as var;

.add-product {
    padding-top: 50px;

    & h2 {
        text-align: center;

    }

    &-form {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;



        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

            & .input-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                width: 50%;

                &-stock {
                    flex-direction: row;
                    justify-content: start;
                }

                & p {
                    color: red;
                }
            }
        }

        &-btn {
            background-color: var.$secondaryColorTransparent;
            margin: 60px auto 30px;
            color: white;
            padding: 16px;
            border-radius: 15px;
            width: 300px;
            height: 80px;
            text-align: center;
        }
    }

    & .product-card-example {
        position: fixed;
        right: 50px;
        top: 350px
    }
}


@media (max-width:1200px) {
    .add-product {
        margin-left: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .product-card-example {
            position: static;
        }

        & .input-container {
            width: 100%;
        }
    }
}

@media (max-width:600px) {
    .add-product {
        margin-left: 0;

        & .dashboard-component {
            display: none;
        }

    }
}