@use 'src/styles/variables.scss' as var;

.reset-password {
    color: var.$secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/electronic.jpg) no-repeat center center/cover;
    margin-bottom: -40px;
    min-height: calc(100vh - 320px);
    padding: 40px 0 60px;

    & .password-validation {
        display: flex;
        flex-wrap: wrap;

    }

    & span {
        font-size: 0.6rem;
        margin: -10px 5px 10px;
    }

    & .valid {
        color: green;
    }

    & .invalid {
        color: red;
    }


    & h1 {
        width: 90%;
        font-size: 1rem;
        text-align: center;
        margin: auto;
        line-height: 25px;
        font-weight: 600;
        background-color: var.$secondaryColorTransparent;
        color: var.$primaryColor;
        padding: 16px;
        border-radius: 10px 10px 0 0;
    }

    &-form {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        padding-top: 30px;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        height: 250px;

        & p {
            font-size: 1.1rem;
            font-weight: bolder;
            text-align: center;
        }

        &-input {
            background-color: rgba(255, 255, 255, 0.9);
            width: 90%;
            margin-bottom: 10px;
            color: var.$secondaryColor;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            font-size: 1rem;
            outline: none;

            &::placeholder {
                color: var.$primaryColor;
                font-weight: 400;
            }

            &:focus {
                background-color: var.$primaryColorTransparent;
                border: 1px solid var.$secondaryColor;

                &::placeholder {
                    color: rgba(245, 245, 245, 0.644);

                }
            }
        }

        &-button {
            margin-top: 10px;
            background-color: var.$primaryColorTransparent;
            color: var.$secondaryColor;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 0.6rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var.$secondaryColorTransparent;
                color: var.$primaryColor;
            }
        }
    }

    & .submit-message {
        font-size: 0.8rem;
    }
}

@media (min-width: 500px) {
    .reset-password-container {
        width: 400px;
        margin: auto;
    }
}