@use 'src/styles/variables.scss' as var;

.update-range {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;

    & h2 {
        text-align: center;
        padding-bottom: 30px;
    }

    & select {
        margin-bottom: 20px;
        width: 600px;
        font-size: 1.5rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    &-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        font-size: 1.2rem;

        & input {
            width: 100%;
            margin-bottom: 20px;
        }

        & textarea {
            width: 100%;
            margin-bottom: 20px;
        }
    }

}

@media (max-width: 600px) {
    .update-range {
        margin-left: 0;

        & .dashboard-component {
            display: none;
        }
    }
}

@media (max-width: 940px) {
    .update-range {
        &-input-container {
            width: 90%;
        }


    }
}

@media (max-width: 940px) {
    .update-range {
        & select {
            width: 90%;
        }


    }
}