@use 'src/styles/variables.scss' as var;

.products {
    color: var.$secondaryColor;
    padding-top: 30px;

    & h1 {
        text-align: center;
        font-size: 1.6rem;
        margin: 20px 0;

    }

    &-range-title {
        position: relative;
        display: flex;
        justify-content: center;
        background: var.$gradient;
        font-size: 0.8rem;
        color: white;
        text-align: center;
        height: 80px;
        align-items: center;
        margin-bottom: 10px;


        & h2 {
            width: 70%;
        }

        & svg {
            position: absolute;
            left: 10px;
            width: 30px;
            margin-right: 16px;
            border-radius: 50px;
            padding: 5px;
            border: 1px solid white;
        }
    }

    &-section {
        margin: 30px 0;

        &-title {
            position: relative;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 0.8rem;
            width: 80%;
            margin: 20px auto 20px;

            & svg {
                width: 30px;
                margin-right: 16px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 30px;

            &-item-link {
                display: flex;
                justify-content: left;
                align-items: center;
            }

            &-item {
                width: 80%;
                margin: 0 auto;
                list-style: none;
                border-radius: 10px;
                overflow: hidden;


                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s ease-in-out;
                }

                & img {
                    height: 100px;
                    width: 50%;
                    object-fit: cover;
                }

                & p {
                    width: 40%;
                    margin-left: 15px;
                    text-align: center;
                    font-weight: 700;
                }

            }
        }

        &-textile {

            & .products-section-title {
                color: var.$primaryColor;
                border-top: 3px solid var.$primaryColor;
                border-bottom: 3px solid var.$primaryColor;
            }

            & .products-section-list-item {
                background-color: var.$primaryColor;
                border: 3px solid var.$primaryColor;
                color: var.$secondaryColor;

            }
        }

        &-meca {
            color: var.$primaryColorLight;

            & .products-section-title {
                border-top: 3px solid var.$secondaryColor;
                border-bottom: 3px solid var.$secondaryColor;
                color: var.$secondaryColor;

            }

            & .products-section-list-item {
                background-color: var.$secondaryColor;
                border: 3px solid var.$secondaryColor;

            }
        }

        &-inox {
            color: var.$secondaryColor;

            & .products-section-title {
                border-top: 3px solid var.$fourthColor;
                border-bottom: 3px solid var.$fourthColor;
                color: var.$fourthColor;

            }

            & .products-section-list-item {
                background-color: var.$fourthColor;
                border: 3px solid var.$fourthColor;

            }
        }

        &-bande {
            color: var.$secondaryColor;

            & .products-section-title {
                color: var.$thirdColor;
                border-top: 3px solid var.$thirdColor;
                border-bottom: 3px solid var.$thirdColor;

            }

            & .products-section-list-item {
                background-color: var.$thirdColor;
                border: 3px solid var.$thirdColor;

            }
        }
    }
}

@media (min-width:450px) {

    .products {
        &-section {
            max-width: 1440px;
            margin: auto;

            &-list {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                &-item {
                    width: 350px;
                    margin: 0 auto;
                    list-style: none;
                    border-radius: 10px;
                    overflow: hidden;


                    &:hover {
                        transform: scale(1.1);
                        transition: all 0.5s ease-in-out;
                    }

                    & img {
                        height: 100px;
                        width: 50%;
                        object-fit: cover;
                    }

                    & p {
                        width: 40%;
                        margin-left: 15px;
                        text-align: center;
                        font-weight: 700;
                    }

                }
            }
        }
    }
}

@media (min-width:500px) {

    .products-range-title {
        width: 80%;
        height: 100px;
        align-items: center;
        margin: 5px auto 20px;
        font-size: 1rem;

        & svg {
            left: 20px;

        }
    }

    .products-section-title {
        width: 90%;
        height: 50px;
        align-items: center;
        font-size: 1rem;

    }

    .products-section-list-item {
        width: 350px;

    }
}

@media (min-width:800px) {

    .products-range-title {
        width: 80%;
        height: 100px;
        align-items: center;
        margin: 5px auto 20px;
        font-size: 1rem;

        & svg {
            left: 30px;
            width: 40px;
        }
    }


}