@use 'src/styles/variables.scss' as var;

.image-swiper-slide {
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid var.$primaryColor;

    & img {
        margin: auto;
    }
}

@media (min-width:390px) {
    .image-swiper {
        width: 300px;
    }

    .image-swiper-slide {

        width: 80%;

        & img {

            margin: auto;
        }
    }
}

@media (min-width:600px) {
    .image-swiper {
        width: 500px;
    }



    .image-swiper-slide {

        width: 80%;

        & img {

            margin: auto;
        }
    }
}

@media (min-width:850px) {
    .image-swiper {
        width: 500px;
    }
}